.special{
        color: #fff;
	font-size: 20px;
	margin:20px;

}
.last{
	text-align: center;
	padding: 50px 0px;
	background-color: #0AFF0C;

}

#features {
  padding: 7% 15%;
  background-color: #0AFFF9;
  position: relative;
  text-align: center;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #4B0082;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #4B0082;
}
.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}
.carousel .carousel-item {
  height: 600px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 600px;
}